# .coveragerc to control coverage.py
[run]
# a listing of all the code that is in use right now
#                                   finished   docstring
#include =
#    tree_tagger/Components.py       #    y           y
#    tree_tagger/Constants.py        #    y           y
#    tree_tagger/DrawTrees.py        #    p           n
#    tree_tagger/FormJets.py         #    p           y
#    tree_tagger/FormShower.py       #    y           n
#    tree_tagger/FormVertices.py     #    n           n
#    tree_tagger/InputTools.py       #    y           y
#    tree_tagger/JetQuality.py       #    y           y
#    tree_tagger/JoinHepMCRoot.py    #    y           y
#    tree_tagger/MassPeaks.py        #    y           y 
#    tree_tagger/PDGNames.py         #    y           n
#    tree_tagger/ReadHepmc.py        #    y           n
#    tree_tagger/ShapeVariables.py   #    n           n
#    tree_tagger/TrueTag.py          #    y           y
#    tree_tagger/CompareClusters.py  #    n           n   now
#    tree_tagger/ParallelFormJets.py #    n           n   now
#    tree_tagger/PlottingTools.py    #    n           n
# things that should be added to this list soon
#    */tree_tagger/RescaleJets.py      #    n           n
#    */tree_tagger/Preprocessing.py    #    n           n
#    */tree_tagger/Datasets.py         #    n           n
#    */tree_tagger/TreeWalker.py       #    n           n
#    */tree_tagger/CustomeDataloader.py#    n           n
#    */tree_tagger/CustomSampler.py    #    n           n
#    */tree_tagger/CustomScheduler.py  #    n           n
#    */tree_tagger/RunEvaluation.py    #    n           n
#    */tree_tagger/RunLauncher.py      #    n           n
#    */tree_tagger/RunTools.py         #    n           n
#    */tree_tagger/TrainingTools.py    #    n           n
#    */tree_tagger/OverlapPlotting.py  #    n           n
#    */tree_tagger/SingleFormJets.py   #    n           n
# sometime
#    */tree_tagger/AffinityMeasures.py #    n           n
#    */tree_tagger/AreaMeasures.py     #    n           n
#    */tree_tagger/CheckData.py        #    n           n
#    */tree_tagger/CompareTrees.py     #    n           n
#    */tree_tagger/DrawBarrel.py       #    n           n
#    */tree_tagger/FormInvarVertices.py#    n           n
#    */tree_tagger/JetBDT.py           #    n           n
#    */tree_tagger/LinkingEvaluation.py#    n           n
#    */tree_tagger/LinkingFramework.py #    n           n
#    */tree_tagger/LinkingLauncher.py  #    n           n
#    */tree_tagger/LinkingNN.py        #    n           n
#    */tree_tagger/optimise_BDT.py     #    n           n
#    */tree_tagger/RecursiveNN.py      #    n           n
#    */tree_tagger/SelectEvent.py      #    n           n
omit =
	# don't check coverage of tests
	*/test/*
	*/example.py
    */.local/*
    /usr/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
	def main

    # don't bother with plotting methods - it should be clear if these are not working
    def plot_
    def plt_

